<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Computer Database</title>
  </head>
  <body>
    <h1>Computer Database</h1>
    <a href="/all"><button>All computers</button></a>
    <a href="/searchById"><button>Search Id</button></a>
    <a href="/addComputer"><button>Add new computer</button></a>
    <a href="/removeComputer"><button>Remove computer</button></a>
  </body>
</html>
